.container{
    border: 1px solid black;
    margin: auto;
    width: 70%;
    margin-top: 150px;
    text-align: center;
    background-color: white;
}
.input-field{
    width: 50%;
    height: 30px;
}
.btn{
    width: 20%;
    height: 30px;
    margin-bottom: 10%;
}
.btn:hover{
    background-color: black
   color(white)
}
body{
    background-color: rgb(189, 178, 178);
}
